<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- reacjs js file link  -->
    <script src="/js/react.development.js"></script>
    <script src="/js/react-dom.development.js"></script>
    <script src="/js/browser.min.js"></script>

    <!-- custom css file link  -->
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    
<!-- navbar section starts  -->

<div id="navbar"></div>

<!-- navbar section ends -->

<!-- home section starts  -->
<div id="root"></div>

<!-- home section ends -->
</body>
<script src="/js/jquery-3.6.0.js"></script>
<script defer src="/js/swup.min.js"></script>
<script defer src="/js/main.js"></script>
<script src="/js/navbar.js" type="text/babel"></script>
<script src="/js/about.js" type="text/babel"></script>
</html>
